body {
  text-align: center;
  font-family: monospace;
  background-color: #00ffff30;

}
img {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

.downloadClick{
  width: auto;
  height: 200;
}
button {
  background-color: #4cd5dc; /* Green */
  border: none;
  color: white;
  padding: 17px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 6px;
}
input {
  background-color: #4cd5dc; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 6px;

}
